@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Outfit', sans-serif;
  --color-green-100: #7EBA94;
  --color-green-200: #20C997;
  --color-white-100: #FDFDFD;
  --color-white-200: #FFF8EB;
  --color-gray-100: #52525B;

}


%centerItem{
  display: grid;
  place-items: center;
}

#root {
  font-family: var(--ff-primary);
  background-image: linear-gradient(180deg, var(--color-white-100) 50%, var(--color-green-200) 50%, var(--color-green-200) 100%);
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  inset: 0 0 auto 0;
  text-align: center;

  &__title {
    padding: 2rem 0;
  }
}

.card {
  width: 90%;
  padding: 2rem;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #000;
  box-shadow: 10px 14px 0px 0px #000;

  &__body {
    display: grid;
    gap: 1rem;
  }

  &__heading {
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    margin: 1.5rem 0 1rem;
  }

  &__title {
    font-size: 1rem;
  }
}


.form {
  &__item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
  }

  &__input {
    // flex: 1 1 350px;
    font-size: .875rem;
    padding: 0 1rem;
    border-radius: 100px;
    outline: 0;
    border: 2px solid #000;

    &::placeholder {
      font-weight: 500;
      color: var(--color-gray-100);

    }
  }

  &__submit,
  &__input {
    height: 46px;

  }

  &__submit {
    cursor: pointer;
    position: absolute;
    inset: 0;
    border: 0;
    background-color: transparent;

    &-content {
      position: relative;
      background-color: var(--color-green-200);
      width: 2.875rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid black;
      overflow: hidden;
      display: grid;
      place-items: center;
      transition: all 0.4s ease;

      &:hover {
        opacity: .8;
      }

      svg {
        width: 1.5rem;
      }
    }

  }

  &__input,
  &__submit {
    font-family: inherit;
  }
}




.task {
  position: relative;
  isolation: isolate;
  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
    background-color: var(--color-white-200);
    font-weight: 500;
    color: black;
    border-radius: 10px;
    border: 2px solid #000;
    &:hover{
      svg{
        color: #000;
      }
    }
  }

  &::after{
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: calc(100% - 3px);
    height: calc(100% - 4px);
    border: 2px solid black;
    border-radius: 10px;
    z-index: -1;
  }
  
  &__name {
    font-size: .875rem;

    
  }

  &__left {
    display: flex;
    gap: .4rem;
    align-items: center;
  }

  &__btn {
    cursor: pointer;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    background-color: transparent;
    display: grid;
    place-items: center;
    svg {
      color: transparent;
      transition: all 0.4s;
      &:hover {
        color: rgba(0, 0, 0, 0.747);
      }
    }
  }

  &__checkArea{
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: white;
    & > input{
      position: absolute;
      inset: 0;
      opacity: 0;
    }
  }
  &__check{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transition: background-color 0.4s ease;
    @extend %centerItem;

    &.active{
      background-color: var(--color-green-100);
    }
  }
}